.container {
  max-widht: 700px;
  margin: 0 auto;
  display:grid;
  gap : 1em;
}
.item {
  border :2px solid yellow;
  height : 15em;
  text-align:center;
}
@media (min-width: 700px){
  .container {
     grid-template-columns: repeat(2, 1fr);
  }
}